<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>handler.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewUsers</servlet-name>
        <servlet-class>Lookup.addNewUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistHandler</servlet-name>
        <servlet-class>handler.RegistHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchFlight</servlet-name>
        <servlet-class>Lookup.searchFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlightHandler</servlet-name>
        <servlet-class>handler.SearchFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>handler.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBooking</servlet-name>
        <servlet-class>handler.SearchBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdataTicketHandler</servlet-name>
        <servlet-class>handler.UpdataTicketHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStatHandler</servlet-name>
        <servlet-class>handler.ViewStatHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRefundHandler</servlet-name>
        <servlet-class>handler.ManageRefundHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBookingHandler</servlet-name>
        <servlet-class>handler.ManageBookingHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightBookHandler</servlet-name>
        <servlet-class>handler.FlightBookHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightHandler</servlet-name>
        <servlet-class>handler.UpdateFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlightHandler</servlet-name>
        <servlet-class>handler.DeleteFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFlightHandler</servlet-name>
        <servlet-class>handler.ManagerFlightHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlights</servlet-name>
        <servlet-class>Lookup.DeleteFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookHandler</servlet-name>
        <servlet-class>handler.ConfirmBookHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewUsers</servlet-name>
        <url-pattern>/addNewUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistHandler</servlet-name>
        <url-pattern>/RegistHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchFlight</servlet-name>
        <url-pattern>/searchFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlightHandler</servlet-name>
        <url-pattern>/SearchFlightHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBooking</servlet-name>
        <url-pattern>/SearchBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdataTicketHandler</servlet-name>
        <url-pattern>/UpdataTicketHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStatHandler</servlet-name>
        <url-pattern>/ViewStatHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRefundHandler</servlet-name>
        <url-pattern>/ManageRefundHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBookingHandler</servlet-name>
        <url-pattern>/ManageBookingHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightBookHandler</servlet-name>
        <url-pattern>/FlightBookHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightHandler</servlet-name>
        <url-pattern>/UpdateFlightHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlightHandler</servlet-name>
        <url-pattern>/DeleteFlightHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFlightHandler</servlet-name>
        <url-pattern>/ManagerFlightHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlights</servlet-name>
        <url-pattern>/DeleteFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookHandler</servlet-name>
        <url-pattern>/ConfirmBookHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
